.modal {
    > .dialog {
        justify-self: center;
        align-self: flex-start;

        margin-top: 30px;
        min-width: 25%;
        max-width: 90%;
        max-height: 90%;
        min-height: 25%;

        box-shadow: 0 0 7.7px 1.4px rgba(0, 0, 0, 0.05);
        border: solid 1px #e1e7eb;
        background-color: #ffffff;
    }
}
