:root {
    --black: #000;
    --white: #fff;
    --text-black: #1F1F20;
    --text-gray: #B3B6BA;
    --gray-light: #F3F5F7;
    --gray-medium: #DCDCDC;
    --gray: #6C7075;
    --green: #F2FAF4;
    --green-dark: #5ba259;
    --green-light: #E0F1E0;
    --error: #D92A5F;
    --success: #6BC869;
    --blue: #008CFF;
    --montserrat: Montserrat, arial, 'sans-serif';
}